.work {
    padding-top: 56.25%;
    background-position: top center;
    background-size: cover;
    box-shadow: 3px -126px 64px -50px rgba(38, 38, 38, 0.59) inset,
        3px -91px 64px -50px rgba(38, 38, 38, 0.59) inset;
}
